    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body{
    background-color:rgb(235, 220, 201);
    font-style: italic;
}
/* navbar top */
.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-link i img:hover{
    background-color: rgb(160, 129, 94);
    border-radius: 50px;
}

    .social-link i img{
        width: 20px;
    
}
.logo h3{
    font-weight: bold;

    
        font-size: 20px;
    
}
.icons i img{
    margin-left: 10px;
    cursor: pointer;
}

    .icons i img{
        width: 20px;
    }

/* navbar top */


.navbar ul{
    list-style-type: none;
    background-color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    
}

.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color: black;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
     font-weight: bold;
     text-align: center;

}
.navbar a:hover{
    background-color: #bba58f;
}
















.raw{
   
    background-image: url('backgroundimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
    width: 100%;
    height: 150vh;
    

}

.raw h3{
    font-size:50px;
    padding-left: 50px;
    padding-top: 100px;
    align-items: center;
    padding-bottom: 60px;

}
.raw p{
    font-size: 30px;
    padding-left: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    align-items: center;
    color: black;
}












p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.smallcontainer{
    min-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}



.col-4{
    flex-basis: 25%;
    float: left;
    width: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
   
}
#btn1 button{
    width: 150px;
    height: 32px;
    background: transparent;
    border: 1px solid black;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
    
    
}
#btn1 button:hover{
    background-color:whitesmoke;
}

   

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #523d35;
}
.title::after{
    content: '';
    background-color: #bba58f;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}













footer{
 max-height: 100px;
align-content: center;
align-items: center;
text-align:center ;
padding: 50px;
    
}
footer a{
    background-color:white;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}
footer i{
    color: black;
}

footer p{
    margin: 10px;
}
















